# OS/Editors
.vscode/
.idea/
.DS_Store
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Backend
backend/.venv/
backend/__pycache__/
backend/.env
backend/*.pyc
backend/.pytest_cache/
